.home-screen {
  display: flex;
  justify-content: center;
}

.metric-section {
  margin-top: var(--chakra-space-xl);
  margin-bottom: var(--chakra-space-xl);
}

@media (max-width: 768px) {
  .metric-section {
    margin-top: var(--chakra-space-lg);
    margin-bottom: var(--chakra-space-lg);
  }
}